body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    text-align: center;
    background-image: url('../news/images/header.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
}

nav {
    background-color: #555;
    color: #ffffff;
    padding: 10px;
    border-top: 2px solid #c7c7c7;
    border-bottom: 2px solid #cccccc;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    color: #f6f5f5;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #cccccc;
    background-color: #666;
}

nav a:hover {
    background-color: #444;
}

main {
    padding: 20px;
}

footer {
    background-color: #090909;
    color: white;
    padding: 10px;
    text-align: center;
}

article {
    margin-bottom: 20px;
}

h1 {
    color: rgba(0, 0, 0, 0.99);
    background-color: rgba(202, 199, 195, 0.82);
    display: inline-block;
}

h2, h3 {
    color: rgba(0, 0, 0, 1);
}

a {
    color: #0369c8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.white-text {
    color: #ffffff;
}



/* Стили для всплывающего меню */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    z-index: 1;
}

.dropdown-content a {
    color: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.navbar-right {
    float: right;
}

.navbar ul {
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 10px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.error-message {
    position: fixed;
    top: 25%;
    left: 75%;
    transform: translate(-25%, -75%);
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
