.info-box {
  display: inline-block; /* Используем inline-block для блока, чтобы он занимал только необходимое пространство */
  border: 1px solid #ccc; /* Добавляем рамку вокруг блока */
  padding: 10px; /* Добавляем отступы внутри блока */
  margin-bottom: 20px; /* Добавляем отступ вниз для разделения блоков */
}

.info-box-content {
  display: inline-block; /* Используем inline-block для содержимого, чтобы оно не выходило за рамки блока */
}

.info-box-header {
  margin-right: 10px; /* Добавляем отступ между заголовком и содержимым */
}