{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение Удаления Статьи</title>
</head>
<body>
    <h1>Подтверждение Удаления Статьи</h1>
    <p>Вы точно хотите удалить"{{ object.title }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Подтвердить</button>
    </form>
</body>
</html>