{% extends 'flatpages/default.html' %}
{% load static %}
{% load my_filters %}

{% block content %}
  <div class="info-box">
    <div class="info-box-content">
      <p class="info-box-header">Количество Подписчиков:{{ category.subscribers.count }}</p>
      </div>
    </div>
    
  {% if post.categories.all %}
    <p><strong>Categories:</strong>
    <ul>
      {% for cat in post.categories.all %}
        <li>{{ cat.name }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p><strong>[Категория Поста отсутствует]</strong></p>
  {% endif %}
    
  <article>
    <h2>{{ post.title|censor }}</h2>
    <p>Дата публикации: {{ post.created_at|date:"d.m.Y" }}</p>
    <p>{{ post.content|censor }}</p>
    <p>Автор: {{ post.author }}</p>
  </article>
  <p>
    <a href="{% url 'news_list' %}">Вернуться к списку новостей</a>
    {% if user.is_authenticated %}
      {% if user.is_superuser or user == post.author %}
        <a href="{% url 'edit_news' post.id %}">Редактировать</a>
        <a href="{% url 'delete_news' post.id %}">Удалить</a>
      {% endif %}
    {% endif %}
    
  
      {% if  not is_subscribed %}
        <form action="{% url 'subscribe_to_category' category.id %}" method="post">
          {% csrf_token %}
          <button type="submit">Подписаться на категорию</button>
        </form>
            {% else %}
      {% endif %}
{% endblock %}
