{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon"> 
    <link rel="icon" 
          href="http://a43db249-afcba5da-f823-48df-ae33-bb246aacb9e9.s3.timeweb.cloud/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}News Portal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <header>
        <h1>
            {% block header %}Портал Новостей{% endblock %}
            <div id="real-time">{{ real_time|date:"F j, Y H:i:s" }}</div>
        </h1>

    </header>

<nav>
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'news_list' %}">Новости</a></li>
            <li><a href="{% url 'search_news' %}">Поиск</a></li>
            <li class="dropdown">
                {% if user.is_authenticated %}
                    <a href="#" class="dropbtn">Создать</a>
                    <div class="dropdown-content">
                        <a href="{% url 'create_news' %}">Новость</a>
                        <a href="{% url 'create_article' %}">Статью</a>
                    </div>
                {% endif %}
            </li>
        </ul>
        <div class="navbar-right">

            {% if user.is_authenticated %}
    <a href="{% url 'admin:index' %}"  class="admin-btn" target="_blank">Админ Панель </a>
            {% endif %}

        <div id="error-message" class="error-message" style="display: none;">
    <span class="close-btn">&times;</span>
    Извините, у вас нет прав администратора.
        </div>

            {% if user.is_authenticated %}

                <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Выход</button>
</form>
            {% else %}
                
                <a href="{% url 'account_login' %}">Войти</a>
                <a href="{% url 'account_signup' %}">Зарегистрироваться</a>
            {% endif %}
        </div>
    </nav>

     <main>
        {% block content %}{% endblock %}
     </main>
    
    <footer>
    <p>© 2024 Проект создал: <a href="https://github.com/mrGerber91" target="_blank">mrGerber91</a></p>
    </footer>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        function showErrorMessage() {
            const errorMessage = document.getElementById('error-message');
            errorMessage.style.display = 'block';
        }

        function closeErrorMessage() {
            const errorMessage = document.getElementById('error-message');
            errorMessage.style.display = 'none';
        }

        document.getElementById('error-message').addEventListener('click', closeErrorMessage);

        const adminBtn = document.querySelector('.admin-btn');

        adminBtn.addEventListener('click', function (event) {
            if (!{{ user.is_superuser|yesno:"true,false" }}) {
                showErrorMessage();
                event.preventDefault();
            }
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        function updateRealTime() {
            document.getElementById('real-time').textContent = new Date().toLocaleString();
        }
        setInterval(updateRealTime, 1000);
        updateRealTime();
    });
</script>
</body>
</html>