{% extends 'flatpages/default.html' %}

{% block content %}
    <h2>Стартовая Страница Портала!</h2>
<ul>
<li style="text-align: left;"><em>Добро пожаловать на новостной портал! Узнавайте последние новости первыми! Наш портал предлагает вам широкий</em><em>спектр информации о текущих событиях в мире. Мы стремимся быть вашим надёжным источником актуальной</em><em>информации, позволяющей вам быть в курсе всех важных событий, происходящих в нашем мире.</em></li>
</ul>
<p>&nbsp;</p>
<ul>
<li style="text-align: left;"><em>Наши разделы включают:</em></li>
</ul>
<p>&nbsp;</p>
<ul>
<li style="text-align: left;"><em><strong>Политика</strong>: Самые важные политические события на мировой арене, анализ политических</em><em>процессов и их влияние на глобальное сообщество.</em></li>
</ul>
<p>&nbsp;</p>
<ul>
<li style="text-align: left;"><em><strong>Экономика</strong>: Обзоры рынков, экономические тенденции, финансовые новости и статьи о влиянии экономики на жизнь&nbsp;</em><em>людей.</em></li>
</ul>
<p>&nbsp;</p>
<ul>
<li style="text-align: left;"><em><strong>Мировые новости</strong>: Самые актуальные события со всего мира, рассказанные через объективный и непредвзятый взгляд&nbsp;</em><em>журналистов. </em></li>
</ul>
<ul>
<li style="text-align: left;"><em><strong>Технологии</strong>: Новейшие разработки в мире технологий, стартапы, инновации и их влияние на повседневную жизнь.</em></li>
</ul>
<p>&nbsp;</p>
<ul>
<li style="text-align: left;"><em><strong>Наука и здоровье</strong>: Исследования, новости медицины, достижения в науке и советы по здоровому образу жизни.</em></li>
</ul>
<p>&nbsp;</p>
<ul>
<li style="text-align: left;"><em><strong>Культура и искусство</strong>: Рецензии на фильмы, книги, выставки, интервью с творческими личностями и обзоры культурных событий.</em></li>
</ul>
<p>&nbsp;</p>
<ul>
<li style="text-align: left;"><em><strong>Спорт</strong>: Репортажи с ключевых спортивных событий, интервью с атлетами, статистика и аналитика. Наша команда журналистов работает над тем, чтобы обеспечить вас свежей, достоверной и разнообразной информацией. </em></li>
</ul>
<p>&nbsp;</p>
<ul>
<li style="text-align: left;"><strong><em>Мы стремимся быть вашими глазами и ушами в мире новостей. Подписывайтесь на нашу рассылку и следите за обновлениями на нашем портале, чтобы быть в курсе всех событий! Присоединяйтесь к нам и будьте в центре событий!</em></strong></li>
</ul>
{% endblock %}
